<!-- Inclusion du header -->
<div th:replace="~{fragments/header :: headerImports}"></div>


<div class="container">
    <div th:replace="~{fragments/breadcrumb :: breadcrumb(pageName='Forum', currentPage='Connexion')}"></div>

    <main>
        <h1 class="h1 center">Connexion au forum</h1>

        <div th:if="${error}" class="warning b center">
            <p th:text="${error}"></p>
        </div>

        <form th:action="@{/login}" th:object="${utilisateur}" method="post">
            <input type="hidden" name="csrfToken" th:value="${csrfToken}">

            <div>
                <label for="username">Pseudo :
                    <input type="text" id="username" name="username" th:field="*{username}" class="form-control">
                </label>
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="i warning"></p>
            </div>

            <div>
                <label for="password">Mot de passe :
                    <input type="password" id="password" name="password" class="form-control">
                </label>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="i warning"></p>
            </div>

            <button class="btn">Connexion</button>
        </form>

    </main>
</div>


<!-- Inclusion du footer -->
<div th:replace="~{fragments/footer :: footerImports}"></div>